:root{
    font-family:'Roboto' !important;
}

/*Estilo Navbar*/
.navbar{
    background-color: black !important;
}

.logo-navbar{

    width: 200px;
    height: auto;
}

.nav-link{

    color: darkcyan;
    font-weight: bold ;
}
.link__navbar{

    margin-left: 600px;
}


.icono_login{
    margin-right: 5px;
}

/* Estilos Servicios*/
#body_index{
    background: #f4f6ff;
}
#servicios{
    
    padding: 0;
    margin: 0;
}
.div_servicio{

  height: 100px;
  width: 100px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;

}
.servicios_img{
    color: white;
    font-size: 50px;
    margin-top: 20px;
}
